[Unit]
Description= RTPEngine proxy for RTP and other media streams
After=network.target iptables.service redis.service syslog.target

[Service]
Type=forking
EnvironmentFile=/etc/default/rtpengine
EnvironmentFile=-/etc/rtpengine.conf
PIDFile=/var/run/rtpengine/rtpengine.pid
ExecStartPre=/usr/bin/rtpengine-start-pre
PermissionsStartOnly=true
ExecStart=/usr/bin/rtpengine-start
ExecStopPost=/usr/bin/rtpengine-stop-post

[Install]
WantedBy=multi-user.target
